@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
body {
    font-family: 'Inter' , sans-serif !important;
}
.text-primary {
    color: #EA6B23;
}

.bg-primary {
    background: #EA6B23;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.25s ease-out;
}


.Btn {
  min-width: 130px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #554de9;
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}
.Btn .text {
    position: relative;
    z-index: 2
}
.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: #E96922;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
}
.Btn:hover {
    color: #fff;
}
.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%) scale(3);
  border-radius: 0;

}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.rdt_TableCol.sort-asc .triangle-up {
  border-bottom-color: #1d4ed8 !important;
  opacity: 1;
}

.rdt_TableCol.sort-desc .triangle-up {
  opacity: 0.3;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid rgba(0, 0, 0, 0.4);
}

.rdt_TableCol.sort-desc .triangle-down {
  border-top-color: #1d4ed8 !important;
  opacity: 1;
}

.rdt_TableCol.sort-asc .triangle-down {
  opacity: 0.3;
}
